<div id="wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <div id="main-content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row clearfix">
          <div class="col-md-3 col-sm-12">
            <h1>Dashboard</h1>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">App Reviewers</a></li>
                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
              </ol>
            </nav>
          </div>

        </div>
        <div class="row clearfix">
          <div class="col-lg-3 col-md-6">
            <div class="card">
              <div class="body bg-info text-light">
                <div class="d-flex align-items-center">
                  <div class="card-value text-muted"><i class="icon-calculator text-light"></i></div>
                  <div class="ml-3">
                    <span>Total Users</span>
                    <h4 class="mb-0 font-weight-medium">{{totalUsers }}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>




        </div>
        <hr class="my-4">



      </div>
    </div>
  </div>
