<nav class="navbar top-navbar">
    <div class="container-fluid">
        <div class="navbar-left">
            <div class="navbar-btn">
                <a [routerLink]="['']" routerLinkActive="router-link-active"><img src="assets/images/icon.svg"
                        alt="appreview Logo" class="img-fluid logo"></a>
                <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu fa fa-bars"></i></button>
            </div>
            <ul class="nav navbar-nav" *ngIf="role=='supAdmin'">
                <!-- <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                        <i class="icon-bell"></i>
                    </a>
                    <ul class="dropdown-menu feeds_widget vivify fadeIn">
                        <li *ngFor="let item of allNotifications | slice:0:5; let i=index">
                            <a href="javascript:void(0);">
                                <div class="feeds-left bg-red"><i class="fa fa-check"></i></div>
                                <div class="feeds-body">
                                    <h4 class="title text-danger">{{item.type}} <small
                                            class="float-right text-muted">{{item.created_at | date}}</small></h4>
                                    <small>{{item.userName}} {{item.detail | slice:0:50}}</small>
                                </div>
                            </a>
                        </li>
                        <li class="viewallnotif"><a class="">View All
                                Notifiations</a></li>
                    </ul>

                </li> -->

                <li class="p_social"><a class="social icon-menu" title="Orders">Orders</a></li>
                <li class="p_news"><a class="news icon-menu" title="Meal Companies">Meals</a></li>

            </ul>
        </div>

        <div class="navbar-right">
            <div id="navbar-menu">
                <ul class="nav navbar-nav">
                    <li>
                        <span *ngIf="role=='supAdmin'">Welcome <strong *ngIf="user">{{user.firstName}}
                                {{user.lastName}}</strong> </span>
                        <a (click)="logout()" class="icon-menu logbtn"><i class="icon-power"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
</nav>